@model RandomNumbersSolution.Domain.Entities.Match

    @{
        ViewBag.Title = "GameBegin";
    }
    <div class="jumbotron">
        <input type="button" title="Play Now" value="Play Now" class="btn btn-success" onclick="location.href='@Url.Action("Play", "Game", Model)'" />
    </div>

