@model RandomNumbersSolution.Models.Match
@{
    ViewBag.Title = "GameResult";
}
<div class="jumbotron">
    <h2>Game result: <span class="label label-success">@Html.DisplayFor(model => model.WinUserName)</span></h2>
    @foreach (var matchItem in Model.Items)
    {
        <div>
            <p>User: @Html.DisplayFor(modelItem => matchItem.UserName)</p>
            <p>Number: @Html.DisplayFor(modelItem => matchItem.Number)</p>
        </div>
    }

    <input type="button" title="Refresh result" value="Refresh result" class="btn btn-success" onclick="location.href='@Url.Action("GameResult", "Game", Model.Items.First())'" />
</div>