@model IEnumerable<RandomNumbersSolution.Models.Match>
@{
    ViewBag.Title = "Game";
}

<p>
    @Html.ActionLink("Play Now", "Play")
</p>

        <div class="jumbotron">
            <button type="button" class="btn btn-success">Play Now</button>
        </div>

