@model RandomNumbersSolution.Models.MatchItem
@{
    ViewBag.Title = "Play";
}

<div class="jumbotron">
    <p>@Html.DisplayFor(model => model.UserName)</p>
    <p>@Html.DisplayFor(model => model.Number)</p>
    
    <input type="button" title="Submit number" value="Submit number" class="btn btn-success" onclick="location.href='@Url.Action("Submit", "Game", Model)'" />
</div>

